.navigation {
  display: flex;
  margin: auto;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  box-sizing: border-box;
  padding-left: 24px;
}

.navigationCategory {
  margin-right: 24px;
  padding-bottom: 16px;
}

.navigationCategory:hover {
  color: #696969
}

.activeNavigationCategory {
  color: #f44336;
  border-bottom: thin solid #f44336;
  padding-bottom: 16px;
}

.postButton {
  display: inline;
  vertical-align: 10px;
  margin-right: 16px;
}

.header {
  z-index: 999;
  top: 0;
  width: 100%;
  position: fixed;
}
